@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    html {
        /*scrollbar-width: none;*/
        scrollbar-width: thin;
        scrollbar-color: var(--primary) var(--background);
    }

    body {
        @apply bg-background text-foreground;
        /*perspective: 1px;*/
        /*transform-style: preserve-3d;*/
        /*overflow: hidden;*/
        overflow-x: hidden;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}